@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coming+Soon&family=Montserrat&family=Montserrat+Alternates&family=Open+Sans&family=Poppins&family=Roboto&display=swap");

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --bg: #121212;
  --bg2: #000000;
  --text: #fff;
  --link: #5865F2;
}

::-webkit-scrollbar {
  width: 2px;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--text);
  background-image: linear-gradient(var(--bg), var(--bg2));
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  height: 100vh;
}

.section.centered {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  user-select: none;
}

span.subtitle {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--text);
  opacity: 0.8;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--link);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  user-select: none;
  transition: filter 250ms, scale 250ms;
}

button.blurple {
  background: #5865F2;
  color: #FFFFFF;
}

button:hover {
  filter: brightness(0.8);
  scale: 0.975;
}

button:focus,
button:active {
  filter: brightness(0.6);
  scale: 0.95;
}

button img {
  width: 24px;
  height: 24px;
}